












*{
    margin: 0;
    padding: 0;
}

.body{
    background: linear-gradient(rgb(8, 17, 119),rgba(10, 26, 48, 0.904));
    height: 100vh;
    font-family:system-ul;
}


.zx{
    text-align: center;
    
}
.z{
    color: #fff;
}
.nav{
    margin-top: 10px;
    text-align: center;
    background-color: rgb(8, 17, 119);
    position: absolute;
    z-index: 100;
}  

.nav-link {
    padding: 6px 15px;
    border-radius: 10px;
    color: darkgray; 
    margin-left: 150px;
    align-items: center;
    justify-content:center ;
    
}

.w{
    color:darkblue;
    background-color: aquamarine;
    align-items: center;
    display:inline;
}

.for{
    border: 4px solid wheat;
    text-align: center;
    font-size: 30px;
    float: right;
    margin-bottom: 70px;
}

.mm{
    background-color: black;  
    display:inline;
}

.ff{
    color: darkgray;
    margin-left: 85px;
    align-items: center;
    display:inline;
    justify-content:center ;

}

.sas{
    text-align: center;
}

.btn{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 44%;
    text-align: center;
}


.bn{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.carousel-item{
    width: 85%;
}

.media{
    margin-right: 20px;
    text-align: right;
}
.nav-link1{
    margin: 16px;
    border-radius: 20px;
}

.nav-link:hover,.nav-link1 {
    background-color: aliceblue;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main img{
    position:absolute;
    width: 100%;
    height: 100vh;
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(65px);
}
.mohamed{
    color:#fff;
    font-size: 20px;
    text-transform: uppercase;
    transform: translateY(-140px);
}